body,html {
  height: 100%;
  margin: 0;
  position: relative;
  scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6 {
  font-size:revert;
  font-weight:400;
}
body::before {
  background-image: url("../img/background.545de86bf9c5.jpg"),
    linear-gradient(rgb(21, 21, 21), rgba(21, 21, 21, 0.600));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100%;
  background-position: center;
  content: "";
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: transform;
  z-index: -1;
  filter: blur(5px);
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#page-container {
  flex: 1;
}

.responsive-object {
  position: relative;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
}

.navbar-menu {
  font-size: 400;
}
.navbar-gradient {
  background: linear-gradient(180deg, rgba(21, 21, 21, 0), rgba(21, 21, 21, 0));
  background-blend-mode: overlay;
}
.navbar-link::after {
  border-color: #ee174b !important;
}
.navbar-dropdown .navbar-item:hover {
  border-bottom-color: #ee174b;
}
.footer-gradient {
  background:  linear-gradient(rgb(21, 21, 21, 0), rgba(21, 21, 21, 0.8));
  background-blend-mode: overlay;
}

.gallery {
  width: 700px;
  display: flex;
}
.gallery div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}
.gallery .thumbnail {
  width: 350px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.title {
  --bulma-title-color: #ee174b;
}
.subtitle {
  --bulma-text: #ee174b;
}

.box,
.input {
  background-color: rgba(21, 21, 21, 0.4);
}
.input:focus {
  outline: none;
  box-shadow: 0 0 5px 2px rgba(169, 29, 58,0.4);
  border-color: #ee174b;
}

.swiper {
  width: 100%;
  height: 700px; /* can set the desired carousel height from here */
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}
.swiper-pagination-bullet {
  background-color: #EEEEEE;
}
.swiper-button-prev,
.swiper-button-next {
  color: #EEEEEE;
}

figcaption {
  background: transparent;
}
.small-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
}

.small-gallery div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 5px;
  flex: none;
}

.small-thumbnail {
  width: 150px; 
  height: 150px; 
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.modal-card {
  --bulma-modal-content-width: 70rem;
}
.modal-card-head {
  background-color: #212121b8;
  border: 1px solid #EEEEEE;
  border-bottom:1px solid #ee174b;
}
.modal-card .modal-card-body {
  --bulma-modal-card-head-background-color: rgba(0, 0, 0, 0.555);
  border: 1px solid #EEEEEE;
  border-top: none;
}
.modal-fit {
  height: 300px;
  overflow: hidden;
}
.glow-on-hover {
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.glow-on-hover:hover {
  box-shadow: 0 0 20px #ee174bcc;
}
.story-header-mt {
  margin-top: 5rem;
}
.modal-card-body > .small-gallery > .image-container {
  height: 400px;
  width: 400px;
}
.modal-card-body > .small-gallery > .embed-container{
  height: 400px;
}
@media screen and (max-width: 1024px) {
  .navbar-dropdown .is-active {
    display: block;
  }
  .navbar-dropdown:not(.is-active) {
    display: none;
  }
  .navbar-dropdown {
    margin-left: 1rem;
  }
  .is-uppercase {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0.75rem;
  }
  .dropdown-toggle {
    position: absolute;
    right: 20px;
    top: 0;
    height: 100%;
    width: 40px;
    cursor: pointer;
    z-index: 2;
  }
  .fund_buton{
    margin-left:.75rem !important ;
    padding-left: .25rem !important;
  }
}
.fit-container {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.img-hover-zoom {
  height: 200px; 
  overflow: hidden; 
}

.img-hover-zoom img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.5s ease; 
}

.img-hover-zoom:hover img {
  transform: scale(1.5);
  object-fit: contain; 
}

.hover-link:hover {
  text-decoration: underline;
}
.cell-title {
  color: #ee174b;
}
.cell.box.has-text-light.gallery-index-cell {
  border: none;
  box-shadow: none;
}
.gallery-index-cell {
  position: relative;
  overflow: hidden;
}

.gallery-index-cell::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ee174b;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in;
}

.gallery-index-cell:hover::after {
  transform: scaleX(1);
}

.gallery-embed-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 1.25rem;

}

.gallery-embed-box iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}


@media screen and (max-width: 768px) {
  .content {
    font-size: 0.9rem;
  }
}