{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block body_class %}template-404{% endblock %}

{% block content %}
<section>
      <div class="container has-text-centered">
        <h1 class="subtitle is-4 mb-6">Sorry, this page could not be found!</h1>
        <br>
        <a href="/" class="button is-outlined is-medium is-primary">
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
            <span>Go To Home</span>
        </a>
      </div>
</section>
{% endblock %}
