{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load youtube_filter %}
{% load custom_filters %}
{% block content %}
    <h1 class="title">{{ page.title }}</h1>
    <div class="columns ">
        <div class="column">
            <p>{{ page.description|richtext }}</p>
        </div>
    </div>
<div class="section ">
    <div class="swiper">
        <div class="swiper-wrapper">
            {% for carousel_item in page.carousel %}
            <div class="swiper-slide">
                {% if carousel_item.block_type == 'embed_block' %}
                    {% include_block carousel_item %}
                {% elif carousel_item.block_type == 'document_block' %}
                    <div class="columns">
                        <div class="column has-text-centered">
                            <embed src="{{ carousel_item.value.url }}" width="800px" height="600px" /><br>
                            <a href="{{ carousel_item.value.url }}" class="is-size-5 has-text-weight-normal has-text-light hover-link" target="_blank">{{ carousel_item.value.title }}</a>
                            <i class="fas fa-link"></i>
                        </div>
                    </div>
                {% else %}
                    {% include_block carousel_item %}
                {% endif %}
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

{% endblock content %}
