{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load custom_filters %}
{% block content %}
    <h1 class="title">{{ page.title }}</h1>
    <div class="columns has-text-white">
        <div class="column">
            <p>{{ page.description|richtext }}</p>
        </div>
    </div>
    <div class="fixed-grid has-2-cols has-text-white">
        <div class="grid">
    {% for gallery in gallery_items %}
        <a href="{% pageurl gallery %}" class="cell box has-text-light gallery-index-cell">
            <div class="columns">
                <h2 class="column is-12 cell-title">
                    {{ gallery.title }}
                </h2>
            </div>
            <div class="columns is-8">
                <p class="column is-8">{{ gallery.description|truncate_words:35|safe }}</p>
                <div class="column is-4">
                    <figure class="is-2 image is-128x128">
                        {% if gallery.index_image %}
                            {% image gallery.index_image original as original_image %}
                            <div class="img-hover-zoom" style="height: 128px;">
                                <img class="fit-container" src="{{ original_image.url }}" alt="something">
                            </div>
                        {% endif %}
                    </figure>
                </div>
            </div>
        </a>
    {% endfor %}
        </div>
    </div>
{% endblock content %}
