{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}
{% load youtube_filter %}
{% load wagtailimages_tags %}

{% block extra_css %}
    {% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
    {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock extra_css %}
{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <h1 class="title">{{ page.title }}</h1>
    <div class="columns ">
        <div class="column">
            <p>{{ page.description|richtext }}</p>
        </div>
    </div>
    {% for block in page.body %}
    {% if block.block_type == 'heading_block' %}
    <br>
    <div class="subtitle" id="{{ block.value.heading_text }}">
        {% include_block block %}
    </div>
    {% elif block.block_type == 'sub_description' %}
    <div class="box ">{% include_block block %}</div>
    {% elif block.block_type == 'map_block' %}
    <div class="columns ">
        <div class="column is-1">
            <a href="{{block.value.url}}">
                <i class="fa-solid fa-location-dot fa-xl"></i>
            </a>
        </div>
        <div class="column is-2">
            <a href="{{block.value.url}}">
                {{block.value.link_text_block}}
            </a>
        </div>
        <div class="column is-6">
            {{block.value.text_block}}
        </div>          
        <div class="column is-3">
            <div class="small-gallery">
                {% with block.value.multi_embed_block as multi_embed_block %}  
                    {% for sub_block in multi_embed_block %}
                        {% if sub_block.block_type == 'image_block' %}
                            {% image sub_block.value.image original as original_image %}
                                <img class="small-thumbnail" src="{{ original_image.url }}" alt="something">
                        {% elif sub_block.block_type == 'embed_block' %}
                            {% with sub_block.value.url|youtube_id as video_id %}
                                <div class="embed-container">
                                    <iframe class="lazyload" data-src="https://www.youtube.com/embed/{{ video_id }}" width="100%" height="100%" referrerpolicy="strict-origin-when-cross-origin" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            </div>  
        </div>    
    </div>
        {% endif %}
    {% endfor %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const myMapTitles = document.querySelectorAll('.subtitle');
            const myMapTitlesList = [];
            myMapTitles.forEach((title, index) => {
                title.classList.add(`title-${(index + 1) % 9}`);
                myMapTitlesList.push(title.id);
            });
            localStorage.setItem('myMapTitlesList', JSON.stringify(myMapTitlesList));
            const event = new Event('titlesStored');
            document.dispatchEvent(event);
        });
    </script>
    
{% endblock content %}
